/* Your app's CSS, go crazy, make it your own */

.price {
  font-weight: bold;
  color: 'blue';
}

.float-right {
  float: right;
}

.buy-button {
  width: 40%;
}

/* splash page styling */
.splash {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -99;
}

h1.logo {
  font-size: 4rem;
  color: white;
  text-align: center;
  padding-top: 40%;
}

.login-button {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  bottom: 15px;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 20px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

/*.ng-enter
  animation: fadeIn 0.5s;

.ng-leave
  animation: fadeOut 0.5s;
*/

.product-image {
  max-height: 300px;
}
.myitem {
  padding: 0;
}
