<ion-view title="gift.title">
  <ion-content has-header="true" has-tabs="true" padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{ gift.image[0].imageurl }}">
        <h2>{{ gift.summary.name }}</h2>
        <p>{{ gift.summary.name }}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{ gift.image[0].imageurl }}">
        <p>
          {{ gift.summary.name }}
        </p>
        <p class="subdued">
        <span>
          Source: Macy's
        </span>
        <span class="float-right">
          {{ gift.price.sale.value || gift.price.regular.value || gift.price.everydayvalue.value | currency }}
        </span>
        </p>

        <a class="button icon-right ion-chevron-right button-balanced float-right buy-button" ng-href="{{ gift.summary.producturl }}">Buy</a>
      </div>

    </div>

  </ion-content>
</ion-view>
