<ion-view title="'Gift Ideas'">
  <ion-content has-header="true" has-tabs="true">

    <ion-slide-box>
      <ion-slide ng-repeat="gift in gifts">
        <div class="list card">

          <div class="item item-body">
            <img class="full-image" ng-src="{{ gift.img }}">
            <p class="subdued">
              Source: Amazon
            </p>
            <p class="price">
              ${{ gift.price }}
            </p>

          </div>

        </div>

      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
