<!--
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js)
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="'Pet Information'">
  <ion-content has-header="true" has-tabs="true">

    <div class="list">

      <a ng-repeat="pet in pets"
         href="#/tab/pet/{{pet.id}}"
         class="item item-thumbnail-left">

        <img ng-src="{{ pet.img }}">
        <h2>{{ pet.title }}</h2>
        <p>{{ pet.description }}</p>
      </a>

    </div>

  </ion-content>
</ion-view>
