<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="'Friends'" class='stable-bg'>
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <h3>Find the perfect gift</h3>
      <label class="item item-input">
        <input type="email" placeholder="Name">
      </label>
      <!-- populate all facebook friends here, filter by name input -->

      <!-- <button class="button button-positive button-block" ng-click="sendEmail(email)">Find Gifts</button> -->
    </div>
  </ion-content>
</ion-view>
